<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header></header>
    <% include ../partials/header %>
    </header>

    <div class="container">
        <main>
            <div class="jumbotron">
                <h1><%= thisdata.subject_id %></h1>
                <h2 class="text-secondary"><%= thisdata.subject_name %></h2>
                <hr>
                <p>More info</p>
                <a name="" id="" class="btn btn-primary" href="#" role="button">Let's get started</a>

            </div>
        </main>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>